*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
 /* for body  */
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5vw;
}

/* main heading  */
h1{
    font-family:  sans-serif;
    font-size: 3vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px 30px;
    border-radius: 10px;
    color:#1B3646 ;
    margin-bottom: 5vw;
}

/* display value  */
#displayValue {
    font-size: 25px;
    padding: 5px 24px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #cbdbe0;
  }
 
  /* css for div of :increment , decrement and display value button  */
.midButton{
    display: flex;
    gap: 2vw;
}

/* for decrement button  */
#DecreaseBtn{
    font-size: 1.5vw;
    padding: 5px 12px;
    border-radius: 8px;
    background-color: #F0F8FF;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border: 1.5px solid rgb(83, 75, 79);
}

/* for increment button  */

#IncreaseBtn{
    font-size: 1.5vw;
    padding: 5px 12px;
    border-radius: 8px;
    background-color: #F0F8FF;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border: 1.5px solid rgb(83, 75, 79);
}

/* for reset button  */
#resetBtn{
    font-size: 1.5vw;
    padding: 5px 12px;
    border-radius: 8px;
    background-color: #F0F8FF;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border: 1.5px solid rgb(83, 75, 79);
}

