*{
    padding: 0;
    margin: 0;
}
body{
     height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    width: 15vw;
    height: 3vw;
    padding: 12px 5px;
    background-color: #8a89a7;
    border-radius: 12px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: none;
}